h4 {
    text-align: center;
}

img {
    display: block;
    max-width: 30%;
    height: auto;
    margin-right: 20px;
}

img:last-child {
    margin-right: 0;
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}

#controls {
    display: flex;
    justify-content: center;
}

#boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}